

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#listItem{
    padding: 20px 0;
    width: 50%;
    margin: auto;
}

li {
    padding: 10px;
    /* margin: 5px; */
    background-color: bisque;
    border: black 1px solid;
    position: relative;
    text-align: center;
}

input {
    width: 50%;
}

.delete {
    position: absolute;
    /* background-color: red; */
    right: 0;
    top: 0;
    padding: 10px  12px;
    cursor: pointer;
}

.delete:hover {
    background-color:#f44336;
}

li:nth-child(odd){
    background-color: #fff0df;
}


/* 

Navbar 

*/
.plansPriceBx:hover {
    color:white;
    background-color: #2e91fc;
}

.plansPriceBx:focus {
    outline: none;
}
nav {
    width: 100%;
    font-size: 0;
}
a {
    font-size: 16px;
    padding: 10px 10px 10px 10px; 
}



nav > .navBorderBox:first-child > a:first-child{
    margin-left: 30px; 
}

.plansPriceBx {
    margin-right: 30px; 
    margin-left:10px;
}

nav > .navBorderBox:last-child { 
    display: inline-flex;
    justify-content: flex-end;
}

.navBorderBox {
    width: 50%;
    display: inline-flex;
    margin: 0;
    align-items: center;
}

.plansPriceBx {
    display: inline-block;
    height: auto;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    color: #2e91fc;
    border-color: #2e91fc;
    font-size: 16px;
}

.navbars {
    display: flex;
    align-items: center;
    margin-bottom:0;
    min-height: 60px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
}

#menu {
    margin-right: 30px; 
    display: none;
    /* display: inline-block; */
    height: auto;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
/* 
.textOverlay {
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;   
    transition: 0.5s;
} */

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .bar2 {
      transition: 0.01s;
  }

  .bar3 {
    margin: 6px 0 0;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-4px, -3px);
    /* margin: 8px 0 0; */
  }



/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#textOverlay
{
      position: fixed;
      width: 100%;
      height: 100%;
      left:100%;
      top:0;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      display: none;
}

.slide {
    transform: translate(-100%, 0);
}

.slide > a {
    font-size: 3.5vmax;
}


@media only screen and (max-width: 768px) {
    .plansPriceBx, nav > .navBorderBox:last-child > a, nav > .navBorderBox > a:last-child {
        background-color: #2e91fc;
        display: none;
    }
    #menu {
        display: inline-block;
    }
    #textOverlay {
        display: flex;
    }
    /* #menuToggle {
        display: block;
    } */

}